# Dependencies
node_modules/
dist/
build/

# Worker State and Data
workers/*/storage/
workers/*/tailscale/
workers/*/config/*.env
**/tailscaled.log.*
**/tailscale.log.*
**/state/*
**/data/*
**/peer/*

# Local Environment
.env
config/master.env
*.log

# System
.DS_Store
Thumbs.db
